ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }

  .logout{
      float: left;
  }

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid purple;
    font-size: large;
  }

  table td, table th {
    border: 1px solid black;
}
  

  th, td {
    padding: 10px;
  }

  .container{
    display: inline-flex;
    margin-bottom: 20px;
  }
  
